<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="styles2.css">
</head>
<body>
    <div class="big">
        <div class="box box1 col3 col6 col9 col12">

            <h3 id="bx1">first box</h3>
            <p>first box subtitle</p>
        </div>
    
        <div class="box box2 col3 col6 col9 col12 ">
    
        <h3>second box</h3>
        <p>second box subtitle</p>
        </div>
        <div class="box box3 col3 col6 col9 col12">
            <h3>third box</h3>
            <p>third box subtitle</p>
        </div>
        <div class="box box4 col3 col6 col9 col12">
            <h3>fourth box</h3>
            <p>fourth box subtitle</p>
        </div>
    </div>
    
    
    
</body>
</html>